<script type="text/javascript">
var IMGURL = "@@IMGURL";
  /*百度统计*/
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?345812d171023c73cbadf698c633b1a6";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- zepto包 -->
<script type="text/javascript" src="../../widgets/zepto/zepto@@MINEXT.js"></script>
<script type="text/javascript" src="../../common/constant@@MINEXT.js"></script>
<script type="text/javascript" src="../../common/util@@MINEXT.js"></script>
<script type="text/javascript" src="../../common/wx@@MINEXT.js"></script>
<script type="text/javascript">
@import '../widgets/zepto/touch@@MINEXT.js';
</script>

