<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<!-- <meta name="viewport" content="target-densitydpi=device-dpi,height=640"> -->
<meta name="description" content="一比分，快5秒的比分直播，全面的体育数据、资讯。" />
<meta name="keywords" content="一比分、足球比分、比分、篮球比分、体育比分" />
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="edge"> 
<meta http-equiv="expires" content="0">
<meta name="format-detection" content="telephone=no,email=no" />
<!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
 <!-- UC强制全屏 -->
 <!-- <meta name="full-screen" content="yes"> -->
<!--  QQ强制全屏 -->
 <!-- <meta name="x5-fullscreen" content="true"> -->
  <!-- UC应用模式 -->
  <!-- <meta name="browsermode" content="application"> -->
  <!-- QQ应用模式 -->
  <!-- <meta name="x5-page-mode" content="app"> -->
<link href="//hm.baidu.com" rel="dns-prefetch">
<link rel="stylesheet" type="text/css" href="../../common@@MINEXT.css">